* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
.port{
  font-size: 30px;
  font-weight: 900;
  margin-left: 10rem;
  width: 20px;
  color: white;
  z-index: 2;
}
.hamburger{
  font-size: 28px;
  cursor: pointer;
  display: none;
  z-index: 2;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content:space-between;

  padding: 40px;
  margin-right: 70px;
  height: 80px;
  background-color: rgb(22, 22, 22);
  width: 100%;
}
.left-nav{
  width: 45%;
}
.right-nav{
  width:55% ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.nav-box li{
  display: flex;
  justify-content: center;
  align-self:center;

}


.nav-box a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  gap: 10rem;
}

.nav-box a:hover {
  font-size: 18px;
  opacity: .7;
}

.content {
  display: flex;
  gap: 100px;
}

.left {
  margin-top: 13rem;
  margin-left: 10rem;
  line-height: 5rem;
  width: 40%;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.left h1 {
  font-size: 60px;
  font-weight: 700;
}

.left span {
  font-weight: bolder;
  font-size: 60px;
  
}

.left h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color:white;
}

.left p {
  line-height: 2rem;
  font-size: 17px;
  letter-spacing: 1px;
  

}

.right {
  width: 50%;
  margin-top: 30px;

}

.image{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 5px solid #eeeeee;
  margin-top: 8rem;
  margin-bottom: 30px;
  margin-left: 100px;
  background-image: url("./assets/sakshir.jpeg");
  background-size: cover;
  background-position: top;
  box-shadow: 0 0 15px rgba(228, 223, 226, 1);
  
}
.close-btn{
  font-size: 24px;
  color: #eeeeee;
  cursor: pointer;
  display:none;
}
@media(max-width:700px) {
  .content{
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
font-size: 40px;

  }
  .port{
    font-size: 30px;
    margin-left: 5px;
  }
  .right-nav{
    gap: 5px;
    display: none;
    flex-direction:column;
    background-color:#111;
    top:0;
padding:15px;
    right:0;
    height: 100%;
    width: 250px;
    position: fixed;
    align-items: center;
    transform: translateX(-100%);
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    z-index: 1000;
    
  }
  .right-nav.show{
    display: flex;
    max-height: 400px;
    transform: translateX(0);
  }
  .hamburger{
    display: block;
  }
  .right-nav a{
    font-size: 13px;

  }
  .right-nav a:hover{
    font-size: 14px;
  }
  .left{
    width: 100%;
    line-height: 3rem;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    width: 100%;
    padding: 15px;
    
  }
.right{
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
  .image{
    height: 300px;
    width: 300px;
  margin-top: 20px;
  
box-shadow: 0 0 15px rgba(228, 223, 226, 0.6);
  }
  
  
  .left h1{
    font-size: 40px;
    text-align: center;
  }
  .left h2{
    font-size: 35px;
    text-align: center;

  }
  .left span{
    font-size: 37px;
    text-align: center;
  }
}
.about-section{
  margin-top: 10rem;

}
.about-section h1{
  font-size: 70px;
  text-align: center;
  padding: 10px;
}
.second{
  display: flex;
}
.left-about{
 
  width: 45%;
  margin-top: 7rem;
 align-items: center;
 justify-content: center;
  
}
.left-about .img{
   height: 350px;
  width: 350px;
   background-image: url("./assets/sakshir.jpeg");
  background-position:top;
  background-size: cover;
  margin-left: 7rem;
  margin-bottom: 20px;
  opacity: .8;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 0 15px rgba(228, 223, 226, 1);
  
}
.left-about img{
  height: 500px;
  width: 300px;
  border-radius: 10rem;
  box-shadow: 0 0 15px rgba(228, 223, 226, 1);
}
.right-about{
  width: 55%;
  margin-top: 10rem;
padding: 10px 30px;
margin-right: 50px;
align-items: center;
text-align: center;
justify-content: center;
color: #eeeeee;
transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.right-about p{
font-size: 17px;
font-weight: 500;
letter-spacing: 2px;
line-height: 1.8rem;
}
.buttons{
  margin-top: 3rem;
}
.btn{
  padding: 10px 20px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  background-color: transparent;
  transition: .3s;
  border-radius: 5px;
  margin-left: 15px;
}
.btn:hover{
  background-color: rgb(28, 27, 27);
opacity: .5;
}
.main-heading{
  text-align: center;
  font-size: 4.5rem;
  font-weight: 900;
  margin-top: 9rem;
  margin-bottom: 10px;
}
.main-education{
  display: flex;
}
.left-content{
  margin-top: 5rem;
  margin-bottom: 20px;
  margin-left: 8rem;
line-height: 2rem;
letter-spacing: 1px;
width: 50%;
font-size: 18px;
transform: translateY(30px);
  animation: fadeInUp 4s ease-out forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.college{
  margin-bottom: 20px;
}
.school{
  margin-top: 9rem;
}
.right-content{
  width: 50%;
  height: 400px;
display: flex;
margin-right: 60px;
opacity: .6;
}
.full-image{
  height: 100%;
  width: 50%;
}
.right-content img{
  height: 348px;
  width: 100%;
  margin-top: 5rem;
  border-radius: 5px;
   box-shadow: 0 0 15px rgba(228, 223, 226, 1);
}
.full-img2{
  height: 350px;
  width: 50%;
  
}
.upper-img{
  height: 50%;
}
.lower-img{
  height: 50%;

}
.upper-img img{
  height: 200px;
  width:90%;
   box-shadow: 0 0 15px rgba(228, 223, 226, 1);
}
.lower-img img{
  height: 172px;
  width:90% ;
  box-shadow: 0 0 15px rgba(228, 223, 226, 1);
}
.Skills{
  width: 100%;
  color: #eeeeee;
  margin-top: 11rem;
  padding: 40px;

}
.skills-portion{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Skills h1{
  text-align: center;
  font-size: 4.5rem;
}
.skill-category{
  margin-top: 6rem;
  margin-bottom: 40px;
  line-height: 2rem;
  letter-spacing: .2rem;
  margin-right: 7rem;
  margin-left: 7rem;
  transform: translateY(30px);
  animation: fadeInUp 4s ease-out infinite;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-category h3{
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 900;
}
.skill-category ul{
  list-style-type: square;
  padding-left: 20px;
}
.skill-category li{
  margin-bottom: 5px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
}
.projects{
  width: 100%;
  margin-top: 8rem;
}
.projects h1{
  font-size: 4rem;
  text-align: center;
  padding: 10px;
}
.projects h2{
  margin-left: 7rem;
  padding: 10px;
  font-size: 2.5rem;
  margin-top: 30px;
  letter-spacing: 3px;

}
.project-describe{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 22rem;
  margin-top: 20px;
  transform: translateY(30px);
  animation: fadeInUp 4s ease-out infinite;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.project img{
  height: 270px;
  width: 270px;
  border: 2px solid black;
  margin:7rem;
  margin-bottom: 10px;
  border-radius: 15px;
  opacity: .7;
  box-shadow: 0 0 15px rgba(228, 223, 226, 1);
}
.project h3{
  text-align: center;
  padding: 10px;
  letter-spacing: .1rem;
}
.project h4{
padding: 10px;
text-align: center;
font-size: 15px;
letter-spacing: .1rem;
}
.contact{
  width: 100%;
  display: flex;
  margin-top: 17rem;
  gap: 6rem;
}
.left-details{
  width: 50%;

}
.left-details img{
  height: 20rem;
  width: 20rem;
  opacity: .7;
  border-radius: 10px;
  margin-left: 20rem;
  margin-top: 3rem;
  box-shadow: 0 0 30px rgba(228, 223, 226, 1);
  
}

.right-details{
  width: 50%;
  padding: 40px;
  line-height: 3rem;
 
}
.right-details h1{
margin-left: 4rem;
font-size: 4rem;
letter-spacing: .1rem;
 margin-top: 3rem;
}
.details{
  margin-top: 3rem;
}
.right-details h3{
font-weight: 500;
margin-left: 3rem;
}
i{
  padding: 10px;
  font-size: 25px;
  margin-right:25px;
}
.icons{
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 27px;
}
@media(max-width:700px) {
  .content{flex-direction:column;
    align-items: center;
    text-align: center;
    gap: 20px;
font-size: 40px;
margin-left: 10px;
text-align: center;
  }
  .port{
    font-size: 30px;
    margin-left: 5px;
  }
  .right-nav{
    gap: 5px;
    display: none;
    flex-direction:column;
    background-color:#111;
    top:0;
padding:15px;
    right:0;
    height: 100%;
    width: 250px;
    position: fixed;
    align-items: center;
    transform: translateX(-100%);
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    z-index: 1000;
    
  }
  .right-nav.show{
    display: flex;
    max-height: 400px;
    transform: translateX(0);
  }
  .hamburger{
    display: block;
  }
  .right-nav a{
    font-size: 13px;

  }
  .right-nav a:hover{
    font-size: 14px;
  }

  .image{
    height: 300px;
    width: 300px;
  margin-top: 20px;
  }
  .right{
    width: 100%;
    margin-top: 20px;
  }
  .left{
    line-height: 3rem;
    text-align: center;
    margin-left: 20px;
    width: 100%;
    padding: 15px;
  }
  .left h1{
    font-size: 40px;
    text-align: center;
  }
  .left h2{
    font-size: 35px;
    text-align: center;

  }
  .left span{
    font-size: 37px;
    text-align: center;
  }
  .about-section h1{
    font-size: 35px;
  }
  .second{
    flex-direction: column;
  }
  .left-about{
    width: 100%;

  }
  .left-about .img{
    height: 300px;
    width: 300px;
margin-left: 6rem;
margin-top: 10px;
  }
  .right-about{
    width: 100%;
    margin-top: 25px;
    padding: 40px;
  }
  .right-about p{
font-size: 15px;
  }
  .main-heading{
    font-size:35px ;
  }
  .main-education{
    flex-direction: column;
    gap: 15px;

  }
  .left-content{
    width: 100%;
  margin-left: 30px;
  font-size: 14px;
  }
  .school{
    margin-top: 30px;
  }
  .right-content{
    width: 100%;
    padding: 25px;
    margin-top: 5px;
  }
  .right-content img{
    margin-top: 10px;
   
  }
  
  
  .Skills h1{
    font-size: 35px;
  }
  .skills-portion{
    flex-direction: column;
  }
  .skill-category {
    width: 100%;
    gap: 10px;
  
  }
  .skill-category h3{
    font-size: 30px;
    text-align: center;
  }
  .skill-category ul li{
    text-align: center;
    font-size: 17px;
    list-style: none;
  }
  .projects{
    width: 100%;
  }
  .projects h1{
    font-size: 35px;
  }
  .projects h2{
    font-size: 30px;
  }
  .project-describe{
    flex-direction: column;
    height: 100%;
  }
  .contact{
    margin-top: 5rem;
    flex-direction: column;
justify-content: flex-start;
gap:10px;
  }
  .left-details{
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-right: 5rem;
  }
  .left-details img{
   margin: 5rem;
  }
  .right-details{
    width: 100%;
  }
  .right-details h1{
    font-size: 35px;
  }
  

}